import(methods)
importFrom(utils,head,tail)
importFrom(stats,coef,predict,nlm,nlminb,optim,pchisq,qnorm,runif,sd,var)
importFrom(MASS,lda,qda)
importFrom(miscTools,stdEr)

export(IData, RepLOptim, DACrossVal)
exportClasses(IData,IdtE,IdtSngDE,IdtMxE,IdtSngNDE,IdtMxNDE,LRTest,ConfTests,IdtMANOVA,IdtClMANOVA,IdtHetNMANOVA,Idtlda,Idtqda)
exportPattern("*.IData")
exportMethods(show,summary,head,tail,nrow,ncol,mle,coef,stdEr,testMod,BestModel,MANOVA,lda,qda,predict,testMod)

S3method(print,summaryIData)
S3method("[",IData)
S3method("[<-",IData)
S3method("==",IData)
S3method("!=",IData)

